@inherits LayoutComponentBase

<div class="main">
    <SideNav/>
    <NavMenu/>

    <div class="content-wrapper ">
        <div class=" container body-wrapper ">
            @Body
        </div>
    </div>
</div>
